openapi: 3.0.0
info:
  title: EduAble Platform API
  description: Comprehensive educational platform for coaching institutes
  version: 1.0.0
  contact:
    name: EduAble API Support
    email: api-support@eduable.com
  license:
    name: Proprietary
    url: https://eduable.com/terms

servers:
  - url: https://api.eduable.com/v1
    description: Production server
  - url: https://staging-api.eduable.com/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Local development

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Users
    description: User management and profiles
  - name: Courses
    description: Course management and content
  - name: Analytics
    description: Learning analytics and insights
  - name: Doubts
    description: Doubt resolution system
  - name: AI
    description: AI-powered features
  - name: Payments
    description: Subscription and payment management
  - name: Enterprise
    description: Enterprise features and administration

paths:
  /auth/login:
    post:
      tags: [Authentication]
      summary: User login
      description: Authenticate user and return JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
        '429':
          description: Rate limit exceeded

  /auth/register:
    post:
      tags: [Authentication]
      summary: User registration
      description: Register a new user account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          description: Validation error
        '409':
          description: User already exists

  /users/me:
    get:
      tags: [Users]
      summary: Get current user profile
      description: Retrieve authenticated user's profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Unauthorized

  /courses:
    get:
      tags: [Courses]
      summary: List courses
      description: Get paginated list of courses with filtering
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of items per page
        - in: query
          name: category
          schema:
            type: string
          description: Filter by category
      responses:
        '200':
          description: Courses retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseListResponse'

  /courses/{courseId}:
    get:
      tags: [Courses]
      summary: Get course details
      description: Retrieve detailed information about a specific course
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: courseId
          required: true
          schema:
            type: string
          description: Course ID
      responses:
        '200':
          description: Course details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseDetail'
        '404':
          description: Course not found

  /analytics/learning-path:
    post:
      tags: [Analytics, AI]
      summary: Generate learning path
      description: Generate AI-powered personalized learning path
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LearningPathRequest'
      responses:
        '200':
          description: Learning path generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningPathResponse'

  /doubts:
    post:
      tags: [Doubts]
      summary: Create doubt
      description: Submit a new doubt/question
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDoubtRequest'
      responses:
        '201':
          description: Doubt created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Doubt'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: student@example.com
        password:
          type: string
          format: password
          minLength: 8
          example: "securePassword123"

    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
          description: JWT access token
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum: [student, teacher, admin, institute_admin]
        instituteId:
          type: string
        avatar:
          type: string
          format: uri

    Course:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        category:
          type: string
        difficulty:
          type: string
          enum: [beginner, intermediate, advanced]
        duration:
          type: integer
          description: Course duration in hours
        instructor:
          $ref: '#/components/schemas/User'
        enrollmentCount:
          type: integer
        rating:
          type: number
          minimum: 0
          maximum: 5

    LearningPathResponse:
      type: object
      properties:
        pathId:
          type: string
        studentId:
          type: string
        courseId:
          type: string
        path:
          type: array
          items:
            $ref: '#/components/schemas/LearningStep'
        estimatedDuration:
          type: integer
          description: Estimated duration in days
        confidence:
          type: number
          minimum: 0
          maximum: 1

    LearningStep:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [video, reading, quiz, assignment, project]
        duration:
          type: integer
          description: Estimated duration in minutes
        prerequisites:
          type: array
          items:
            type: string
        resources:
          type: array
          items:
            $ref: '#/components/schemas/Resource'

    Doubt:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [pending, in_progress, resolved, closed]
        priority:
          type: string
          enum: [low, medium, high, urgent]
        student:
          $ref: '#/components/schemas/User'
        course:
          $ref: '#/components/schemas/Course'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time